<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<title>Login</title>-->
<!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>-->

   <!-- <script type="text/javascript" src="/js/ownscript.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/routestyle.css}">
    <script type="text/javascript" th:src="@{/js/ownscript.js}"></script>

</head>
<body>

<div class="d-flex justify-content-center"><h1 th:text="#{welcome.message}"></h1></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('login?lang=' + selectedOption);
            }
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card panel-shadow panel panel-info" style="width: 600px;">
                <div class="card-header" th:text="#{welcome.rates}"></div>
                <div class="container">
                    <div class="row">
                        <div class="col" th:text="#{welcome.distance} + ' km'"></div>
                        <div class="col" th:text="#{welcome.weight} + ' kg'"></div>
                        <div class="col" th:text="#{welcome.cost} + ' $'"></div>
                    </div>
                    <div class="row">
                        <div th:if="${listRates.empty}">No listRates Available</div>
                    </div>
                    <div class="row" th:each="rate : ${listRates}">
                        <div class="col p-3 mb-2 bg-primary text-white"><span th:text="${rate.distancefrom}"></span>-<span th:text="${rate.distanceto}"></span></div>
                        <div class="col p-3 mb-2 bg-primary text-white"><span th:text="${rate.weight}"></span></div>
                        <div class="col p-3 mb-2 bg-primary text-white"><span th:text="${rate.cost}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
           <!-- 1 of 3-->
        </div>
        <div class="col-md-3">
          <!--  1 of 3-->
            <form class="form-signin" method="post" action="/login">
                <h2 class="form-signin-heading" th:text="#{welcome.login}">Login</h2>
                <div class="alert alert-success" role="alert">You have been signed out</div>
                <p><label for="username" class="sr-only"  th:text="#{welcome.username}">Username</label>
                <input type="text" id="username" name="username" class="form-control" th:placeholder="#{welcome.username}" required autofocus>
                </p>
                <p><label for="password" class="sr-only" th:text="#{welcome.password}">Password</label>
                <input type="password" id="password" name="password" class="form-control" th:placeholder="#{welcome.password}" required>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit"  th:text="#{welcome.signin}">Sign in</button>
            </form>
            <a href="/registration" th:text="#{welcome.addnewuser}" /></a>
            <div class="d-flex justify-content-center">
            <span th:text="#{lang.change}"></span>:
            <select id="locales">
                <option value=""></option>
                <option value="en" th:text="#{lang.en}"></option>
                <option value="ru" th:text="#{lang.ru}"></option>
            </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <!-- 2 of 1-->
        </div>
        <div class="col-md-5">
            <!--2 of 2-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <select class="form-select" aria-label="Default select example" id="cityfromid" name="cityfromid" >
                            <option selected th:text="#{welcome.choosecity}"></option>
                            <option th:each="city:${listCites}"
                                    th:value="${city.id}"
                                    th:utext="${city.name}"/>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example" id="citytoid" name="citytoid" >
                            <option selected th:text="#{welcome.choosecity}">Choose City</option>
                            <option th:each="city:${listCites}"
                                    th:value="${city.id}"
                                    th:utext="${city.name}"/>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="control-group" align = "center">
                            <select class="form-select" aria-label="Default select example" id="typetoid" name="typetoid" >
                                <option selected  th:text="#{welcome.choosetype}">Choose Type</option>
                                <option value="1">Cargo</option>
                                <option value="2">Documents</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="control-group">
                            <!-- Count -->
                            <label class="control-label"  for="count" th:text="#{welcome.count}"></label>
                            <div class="controls">
                                <input type="text" id="count" name="Count" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-group">
                            <!-- Weight -->
                            <label class="control-label"  for="weight" th:text="#{welcome.weight}"></label>
                            <div class="controls">
                                <input type="text" id="weight" name="Weight" placeholder="kg" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-5">
                        <div class="control-group">
                            <!-- Length -->
                            <label class="control-label"  for="length" th:text="#{welcome.length}"></label>
                            <div class="controls">
                                <input type="text" id="length" name="Length" placeholder="cm">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-5">
                        <div class="control-group">
                            <!-- Width -->
                            <div class="d-flex"><label class="control-label"  for="length" th:text="#{welcome.width}">Width</label></div>
                            <div class="controls">
                                <input type="text" id="width" name="Width" placeholder="cm">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <div class="control-group">
                            <!-- Height -->
                            <div class="d-flex"><label class="control-label"  for="height" th:text="#{welcome.height}">Height</label></div>
                            <div class="controls">
                                <input type="text" id="height" name="Height" placeholder="cm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label"  for="height"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sentstatus_edit" th:text="#{welcome.cost}"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Button -->
                        <label class="control-label"  for="height"></label>
                        <div class="controls">
                            <button id="id_price_count" class="btn btn-default id_price_count control-group card panel-shadow panel panel-info" th:text="#{welcome.getprice}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
</div>

</body></html>